/********************* Card 1 : Description  *********************/

.card_1
{
  /*--> Font Settings */
  letter-spacing: 1px;   

  /*--> Card Sizing */
  height: 480px;  /* Previous values : height:480px; 85% */ 
  max-width: 78%;
  margin-left:31%;
  overflow-y: hidden;
 

  /*--> Card Border */
  border-radius: 5px;  /* Round borders */
  border: 1px solid whitesmoke;
  border-image: linear-gradient(to bottom, whitesmoke, rgba(0, 0, 0, 0)) 1 100%;
  border-image: linear-gradient(to left, whitesmoke, rgba(0, 0, 0, 0)) 1 100%; 
  
  /*--> Card Designing */
  background-color: rgba(255, 255, 255, 0.06); 
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 7px #9ecaed;  
}




.signature
{
  /*--> Font Settings */
  font-family:'Allison Script';
  font:bold;
  font-weight: 900;  
  color: white;
  visibility:visible;

  /*--> Animation  */
  -webkit-animation: fadein 2s;
}


/* --> Aniamtion Define */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/********************* Scroll Bar  *********************/


/*** Scrollbar ***/
.scroll_1{
  position:absolute;
  max-height: 390px;
  overflow-y:auto;
  visibility: hidden;
 
}

/*** Visible Scroll on Hover ***/
.scroll_1:hover{
  visibility: visible;
  
}
  
/*** Scrollbar : Track ***/
.scroll_1::-webkit-scrollbar-track
{

  background-color: #AACAEE;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/*** Scrollbar : Bar  ***/
.scroll_1::-webkit-scrollbar
{

  width: 3px;
  background-color: #F5F5F5;
 
}
  
/*** Scrollbar : Thumb  ***/
.scroll_1::-webkit-scrollbar-thumb
{
 
  background-color: #AACAEF;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, .2) 50%,
    rgba(255, 255, 255, .2) 75%,
    transparent 75%,
    transparent)
}
  