/**** Card Title ****/

.card-title{
    color           : white;
    text-align      : center;
    justify-content : center;
}


/**** Card Text ****/

.card-text{
  color             : white;
  font-size         : 0.9em;
  font-size         : 0.75vw;
  text-align: center;
  margin-top        : 2.5%;   
  margin-left: auto;
  -webkit-animation : fadein 2s;
  visibility:visible;
}


/**** This is Used for Description and Quote  ****/

.title_1{
  font-family : "AntipastoPro Medium trial";
  padding-top : 15px;
  font-weight : bold;
  font-weight : 900;
  
}




