/**** Card Title ****/

.card-title{
    color           : white;
    text-align      : center;
    justify-content : center;
}


/**** Card Text ****/

.card-text{
  color             : white;
  font-size         : 0.9em;
  text-align        : center;
  justify-content   : center;
  margin-right      : auto;
  margin-left       : auto;
  margin-top        : 6%;   
  -webkit-animation : fadein 2s;
}


/**** This is Used for Description and Quote  ****/

.title_1{
  font-family : "AntipastoPro Medium trial";
  padding-top : 15px;
  font-weight : bold;
  font-weight : 900;
  
}




