<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Service Unavailable | Wall of Respect </title>
  <!-- Style Css -->
  <link rel="stylesheet"    href="../static/Admin_Dashboard/Css/style.css"> <!-- vertical-layout-light -->
  <link rel="stylesheet"    href="../static/Admin_Dashboard/Css/material-design-iconic-font.min.css">
  <!-- Favicon -->
  <link rel="shortcut icon" href="../static/Admin_Dashboard/Img/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center text-center error-page" style="background-image: linear-gradient(to right, #33457c , #4963b3,#33457c);">
        <div class="row flex-grow">
          <div class="col-lg-7 mx-auto text-white">
            <div class="row align-items-center d-flex flex-row">
              <div class="col-lg-6 text-lg-right pr-lg-4">
                <h1 class="display-1 mb-0">503</h1>
              </div>
              <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                <h2>SORRY!</h2>
                <br>
                <h3 class="fw-light">Service Unavailable.</h3>
                <h5 class="fw-light"> The server is temporarily busy, try again later! </h5>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 text-center mt-xl-2">
                <a class="text-white font-weight-medium" href="{% url 'Dashboard' %}">Back to home</a>
              </div>
            </div>
            <div class="row mt-5">
              <div class="col-12 mt-xl-2">
                <p class="text-white font-weight-medium text-center">Copyright &copy; 2021  All rights reserved.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

</body>

</html>
