<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard | Wall of Respect </title>
    <!-- Style Css -->
    <link rel="stylesheet"    href="/Css/style.css"> <!-- vertical-layout-light -->
    <link rel="stylesheet"    href="/Css/material-design-iconic-font.min.css">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/Img/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
                <div class="me-3">
                    <button class="navbar-toggler navbar-toggler align-self-center" type="button"
                        data-bs-toggle="minimize">
                        <span class="mdi mdi-menu menu-icon"></span>
                    </button>
                </div>
                <div>
                    <img src="../static/Admin Dashboard/Img/TS Logo.svg" width="100%" height="100%" alt="logo" /></a>
                </div>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-top">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a type="button"
                            class="mb-1 mt-3 font-weight-medium btn btn-primary btn-rounded btn-fw btn-sm" href="{% url 'Visitor Page' %}" target="_blank">Visitor
                            Page</a>
                    </li>
                    <li class="nav-item">
                        <p class="mb-1 mt-3 font-weight-medium">Hi ! {{User_Name}}</p>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="img-xs rounded-circle" src="" alt="Profile image">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                            <div class="dropdown-header text-center">
                                <img class="img-md rounded-circle" src="" width="30%" height="30%"
                                    alt="Profile image">
                                <p class="mb-1 mt-3 font-weight-semibold"></p>
                                <p class="fw-light text-muted mb-0"></p>
                            </div>
                            <a class="dropdown-item" href="{% url 'Signout' %}"><i
                                    class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
                        </div>
                    </li>
                    <!-- Alert -->
                    <div class="fixed-top p-3 col-sm-12" id="alert">
                        <div class="alert {{msg.tags}}"
                            style="position: absolute;right: 0;display:inline-block;top:20px;margin-right: 1%;"
                            role="alert">
                            <i class="ti-info-alt" aria-hidden="true"></i>
                        </div>
                    </div>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-bs-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- NAV BAR -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                  <!-- Dashboard -->
                  <li class="nav-item active">
                    <a class="nav-link" href="Dashboard.html"><i class="mdi mdi-view-dashboard menu-icon"></i><span
                        class="menu-title">Dashboard</span></a>
                  </li>
                  <!-- Associates -->
                  <li class="nav-item nav-category">Associates</li>
                  <li class="nav-item">
                    <a class="nav-link" href="Associate.html"><i class="mdi mdi-human-greeting menu-icon"></i>
                      <span class="menu-title">Associate's</span>
                    </a>
                  </li>
                  <!-- Campaign -->
                  <li class="nav-item nav-category">Campaign</li>
                  <li class="nav-item">
                    <a class="nav-link" href="Campaign.html"><i class="mdi mdi-bullhorn menu-icon"></i>
                      <span class="menu-title">Campaign's</span>
                    </a>
                  </li>
        
                  <!-- Users -->
                  <li class="nav-item nav-category">User</li>
                  <li class="nav-item">
                    <a class="nav-link" href="User.html"><i class="mdi mdi-account menu-icon"></i>
                      <span class="menu-title">User's</span>
                    </a>
                  </li>
                  <!-- Role's -->
                  <!-- style="display: none;" -->
                  <li class="nav-item nav-category">Role's</li>
                  <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#Roles" aria-expanded="false" aria-controls="Roless">
                      <i class="mdi mdi-account-card-details menu-icon"></i>
                      <span class="menu-title">Role's</span>
                      <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="Roles">
                      <ul class="nav flex-column sub-menu">
                        <li class="nav-item"><a class="nav-link" href="Role.html">Role's</a></li>
                        <li class="nav-item"><a class="nav-link" href="Role Access Level.html">Role's Access
                            Details</a></li>
                      </ul>
                    </div>
                  </li>
        
                </ul>
              </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin stretch-card">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-sm-flex justify-content-between align-items-start">
                                        <div>
                                            <h4 class="card-title card-title-dash">Campaigns</h4>
                                        </div>
                                        <div>
                                            <input type="search" class="search form-control" id="search_input" 
                                                placeholder="Search Here" title="Search here">
                                        </div>
                                        {% if User_access.add_camp == "Yes" %}
                                        <div>
                                            <button class="btn btn-sm text-white mb-0 me-0" type="button"
                                                data-toggle="modal" data-target="#exampleModalCenter"
                                                style="background-color: #33457c;"><i
                                                    class="mdi mdi-bullhorn btn-icon"></i> &nbsp; Add new campaign</button>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="table-responsive  mt-1">
                                        <table class="table select-table" id="table">
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Added_at</th>
                                                    <th>Added_by</th>
                                                    <th>Updated at</th>
                                                    <th>Updated_by</th>
                                                    <th>Status</th>
                                                    {% if User_access.edit_camp == "Yes" %}
                                                    <th>Action</th>
                                                    {% endif %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for campaign in Campaigns_List %}
                                                <tr>
                                                    <td hidden> {{ campaign.0 }}</td>
                                                    <td> {{ campaign.1 }} </td>
                                                    <td> {{ campaign.3 }} </td>
                                                    <td> {{ campaign.4 }} </td>
                                                    <td> {{ campaign.5 }} </td>
                                                    <td> {{ campaign.6 }} </td>
                                                    <td>
                                                        {% if campaign.2 == '1' %}
                                                        <div class="badge badge-success">Active</div>
                                                        {% else %}
                                                        <div class="badge badge-danger">In Active</div>
                                                    </td>
                                                    {% endif %}
                                                    {% if User_access.edit_camp == "Yes" %}
                                                    <td>
                                                        <a class="btn btn-outline-secondary btn-rounded btn-icon btn-sm" data-toggle="modal"
                                                            data-target="#edit_campaign_info"><i
                                                                class="mdi mdi-table-edit btn-icon"></i></a>
                                                        <!--<button class="badge badge-danger"><i class="mdi  mdi mdi-delete"></i></button>-->
                                                    </td>
                                                    {% endif %}
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Developed by M.ROHAN
                            FAROOQUI <span>&copy;</span>
                            <a href="https://www.github.com/RohanFarooqui" target="_blank">Github</a>
                            <a> | </a>
                            <a href="https://www.youtube.com/RohanFarooqui" target="_blank">Youtube</a>
                        </span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All
                            rights reserved.</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>

    <!-- Modal -->

    <!-- Add Campaign -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add New Campaign</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div hidden>
                            <input type="text" name="type" value="Add_Campaign">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="Campaign Name" maxlength="90"
                                    name="camp_name" pattern="[a-zA-Z][a-zA-Z ]+"
                                    title="Numbers & Special characters are not allowed ..!!" required autocomplete="off">
                            </div>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Campaign -->
    <div class="modal fade" id="edit_campaign_info" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Update Campaign</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div hidden>
                            <input type="text" name="type" value="Update_Campaign">
                            <input type="text" id="update_camp_id" name="camp_id">
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" class="form-control" placeholder="Campaign Name"
                                    id="update_camp_name" maxlength="90" name="camp_name" pattern="[a-zA-Z][a-zA-Z ]+"
                                    title="Numbers & Special characters are not allowed ..!!" autocomplete="off">
                            </div>
                            <div class="col-lg-6">
                                <label for="exampleTextarea1">Status :</label>
                                <select class="btn btn-secondary dropdown-toggle btn-sm" id="update_camp_status"
                                    name="camp_status">
                                    <option value="1">Active</option>
                                    <option value="0">In Active</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="modal-footer">
                            <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- js for this page -->
    <script src="../static/Admin Dashboard/Js/vendor.bundle.base.js"></script>
    <!-- Note : If Remove Right Hamburger button not work in small Resolution -->
    <script src="../static/Admin Dashboard/Js/off-canvas.js"></script>
    <!-- Note : If Remove Left Hamburger button not work -->
    <script src="../static/Admin Dashboard/Js/template.js"></script>
    <!-- End js for this page -->

    <!---------------- Custome JS ---------------->
    
    <!-- BootStrap JS : For Modals -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" 
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- Time out for alerts shown -->
    <script src="../static/Admin Dashboard/Js/alert.js"></script>
    <!-- Load Campaign Data in Modal -->
    <script src="../static/Admin Dashboard/Pages/Campaign_Page/edit_campaign_info.js"></script>
    <!-- Search in table -->
    <script src="../static/Admin Dashboard/Js/Search_Table.js"></script>



</body>

</html>