<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login | Wall of Respect </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login Page/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login Page/Fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login Page/Icons/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/Login Page/Css/Main.css">
	<link rel="stylesheet" type="text/css" href="../static/Login Page/Css/Util.css">
	<!--===============================================================================================-->
	<link rel="shortcut icon" href="../static/Login Page/Img/favicon.png" />
</head>

<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="POST">
					{% csrf_token %}
					<span class="login100-form-logo">
						<img src="../static/Login Page/Img/Touch_Stone_Logo_Login_Panel.png" alt="logo">
					</span>

					{% if messages %}
					{% for msg in messages %}
					<span>
						<div class="alert alert-danger alert" role="alert">
							<i class="fa fa-times-circle-o" aria-hidden="true"></i> {{ msg }}
						</div>
					</span>
					{% endfor %}
					{% endif %}
					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input class="input100" type="text" placeholder="Username" name="username" autocomplete="off">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" placeholder="Password" name="password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" type="checkbox" id="ckb1" value="remember_me"
							name="remember-me">
						<label class="label-checkbox100" for="ckb1">Remember me</label>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">Sign in</button>
					</div>
					<div class="text-center p-t-90"><a class="txt1" href="#"><u>Forgot Password?</u>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>


	<!-- My js -->
	<script src="../static/Login Page/Js/alert.js"></script>

</body>

</html>