.preloader {
  position: fixed;
  top: 0;
  background: #fff;
  height: 100%;
  width : 100%;
  z-index: 10;   
  text-align: center;
}
 
.preloader_overall {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.preloader_logo {
  margin: auto;
  background: url('/Img/assets/preloader.png') no-repeat center;
  background-size: 280px;
  width: 250px;
  height: 250px;
}

.preloader_circle {
  position: relative;
  top:-80px;
  background-color: #33457c;
  height:5px;
  width: 35px;
  margin:auto;
  animation: animation 2.5s infinite;
  
}

@keyframes animation {
  0%   { transform: translateX(-5rem); }
  50%  { transform: translateX(6rem);  }
  100% { transform: translateX(-5rem); }
}